.signupform{
    padding: 50px;
    width: 100%;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    border-style: 1px #272727;
    color: #272727;
    background-color: white;
    
}

body{
  background-color: #e4e4e4;
}

h1{
    text-align: left;
    color:  #272727;
    margin: 50px;
}

.navbar {
    background-color: #fff159;
}

.btn-purple{
    background-color: #3483fa;
    border-radius: 50px;
    color: white;
}

.title-header{
  padding-top: 80px;
}

.form-check-input:checked {
    background-color:  rgb(50, 20, 78);
    border-color:  rgb(50, 20, 78);
  }

  .form-control:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(220, 220, 220);
    border-color:  rgba(50,20,78, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(50,20,78, 0.25);
  }

  .form-check-input:focus {
    border-color: rgba(50,20,78, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(50,20,78, 0.25);
  }

  .btn:hover {
    color:  white;
    background-color: #2968c8;
    border-color: var(--bs-btn-hover-border-color);
  }

  